*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container{
    background-color: rgba(242, 230, 230, 0.135);
    border: solid 1px  rgba(205, 12, 12, 0.187);
    width: 800px;
    font-size: 40px;
    color: white;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
}

p{
    animation-name: mover;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mover {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -70%;
    }
}